<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <style>
        h3 {
            padding: none;
            margin-bottom: 0px;
            margin-top: 0px;
            text-align: center;
        }
        #left {
            line-height: 30px;
            background-color: #eeeeee;
            height: 700px;
            width: 300px;
            float: left;
            padding: 5px;
        }
        #center {
            width: 630px;
            height: 700px;
            float: left;
            padding: 10px;
        }
        #right {
            line-height: 30px;
            background-color: #eeeeee;
            width: 280px;
            height: 700px;
            float: left;
            padding: 5px;
        }
        .node {
            stroke: black;
            stroke-width: 1.5px;
        }
        .node.user {
            stroke: black;
            stroke-width: 2.5px;
        }
        .fixed {
            stroke-width: 2.5px;
            stroke: #2c7fb8;
        }
        .link {
            stroke: #999;
            stroke-opacity: .6;
        }
        .label {
            stroke-width: 0;
            font-family="sans-serif";
            font-size="20px";
            text-anchor="middle";
        }
        .chart rect {} .chart text.num {
            fill: white;
            font: 10px sans-serif;
            text-anchor: end;
        }
        .insight {
            font-size: 0.7em;
        }
        #result a {
            font-size: 0.8em;
        }
    }
    </style>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/s/entities.css">
</head>

<body>
    <div id="left">
        <h3>Entities</h3>
        <div style="overflow-y:auto; height:625px;">
            <svg id="leftcanvas" />
        </div>
        <input type="text" id="node_text" size="40" />
        <button name="addNode" onclick="addNode()">Add Node</button>
    </div>
    <div id="center">
        <div id="filter">
            counterFilter:
            <input type="number" id="counterFilter" value="2" />tfidfFilter:
            <input type="number" id="tfidfFilter" value="10" />
            <button name="update" onclick="update()">Update</button>
        </div>
        <svg id="graphcanvas" />
    </div>
    <div id="right">
        <input type="text" id="search" />
        <div id="result">
        </div>
    </div>

    <script src="s/jquery.min.js"></script>
    <script src="s/search.js"></script>
    <script src="s/d3/d3.v3.min.js"></script>
    <script src="s/d3/colorbrewer.js"></script>
    <script>
        var width = 700,
            height = 700;

        var colorScale = d3.scale.ordinal().range(colorbrewer.PRGn[6]);
        var peoplecolor = "#9ecae1"; //d3.scale.ordinal().range(colorbrewer.Blues[4]);
        var orgcolor = "#bdbdbd"; //d3.scale.ordinal().range(colorbrewer.Reds[4]);
        var placecolor = "#a1d99b"; //d3.scale.ordinal().range(colorbrewer.Greys[4]);
        var usercolor = "#ffeda0"; //d3.scale.ordinal().range(colorbrewer.YlOrBr[4]);

        var force = d3.layout.force()
            .gravity(0.05)
            .charge(-120)
            .linkDistance(155)
            .size([width, height]);

        var nodesize = d3.scale.linear();

        var leftsvg = d3.select("#leftcanvas")
            .attr("width", 300)
            .attr("height", height)
            .attr("class", "chart");

        var svg = d3.select("#graphcanvas")
            .attr("width", width)
            .attr("height", height);

         //place holder for document search, might not want an svg
        var rightsvg = d3.select("body").append("svg")

        .attr("width", 300)
            .attr("height", height);


        function fixNode(d) {
            d.fixed = !d.fixed;
            d3.select(this).classed("fixed", d.fixed);
        }

        function update() {
            cf = $("#counterFilter").val();
            tf = $("#tfidfFilter").val();
            loadGraph(cf,tf);
        }

        function addNode() {
            var nodes = force.nodes()
            var nodeId = d3.max(nodes, function(d) {
                return d.id;
            })
            var nname = document.getElementById('node_text').value
            //            var point = d3.mouse(this),
            node = {
                //                    x: point[0],
                //                    y: point[1],
                type: "user",
                id: nodeId,
                rank: 0,
                frequency: 0,
                name: nname
            },
                n = nodes.push(node);

            // add links to any nearby nodes
            //                nodes.forEach(function(target) {
            //                    var x = target.x - node.x,
            //                        y = target.y - node.y;
            //                    if (Math.sqrt(x * x + y * y) < 30) {
            //                        links.push({
            //                            source: node,
            //                            target: target
            //                        });
            //                    }
            //                });

            restart();
        }

        function restart() {
            force.start();
            var links = force.links(),
                nodes = force.nodes();

            var link = svg.selectAll(".link").data(links);

            link.enter().insert("line", ".node")
                .attr("class", "link");

            var node = svg.selectAll(".node").data(nodes).enter().append("g").attr("class", "node");


            node.append("circle")
                .attr("r", function(d) {
                    return nodesize(d.rank);
                })
                .on("click", fixNode)
                .style("fill", function(d) {
                    return color(d);
                });

            node.append("text")
                .attr("class", "label")
                .text(function(d) {
                    return d.name;
                });

            node.call(force.drag);

        }

        function color(d) {
            //return colorScale(d.type); // Automatic assignment
            switch (d.type) {
                case "Person": //person
                    return peoplecolor;
                case "Organization": //org
                    return orgcolor;
                case "Location": //place?
                    return placecolor;
                case "user":
                    return usercolor;
                default:
                    return colorScale(d.type);
            }
        }

        function loadGraph(maxRank, maxTfidf) {
            //alert('qsdfqfd'+ tfidfFilter)
            var url = "/api/v1.0/graph/?";
            if(maxRank && maxTfidf){
                url.concat("?counterFilter="+maxRank+"&tfidfFilter="+maxTfidf);
            }
            d3.json(url, function(error, graph) {
            //d3.json("s/fake_data.json", function(error, graph) {

                nodesize.domain([0, d3.max(graph.nodes, function(d) {
                    return d.rank;
                })])
                    .range([10, 25]);

                force
                    .nodes(graph.nodes)
                    .links(graph.links);

                restart();
                force.on("tick", function(e) {
                    var link = svg.selectAll(".link");
                    var node = svg.selectAll(".node");

                    link.attr("x1", function(d) {
                        return d.source.x;
                    })
                        .attr("y1", function(d) {
                            return d.source.y;
                        })
                        .attr("x2", function(d) {
                            return d.target.x;
                        })
                        .attr("y2", function(d) {
                            return d.target.y;
                        });

                    node
                        .attr("transform", function(d) {
                            return "translate(" + d.x + "," + d.y + ")";
                        });
                });

                /**
Editable graph.  Code borrowed liberally from : http://bl.ocks.org/rkirsling/5001347
and http://bl.ocks.org/mbostock/929623
**/

                // define arrow markers for graph links
                //            svg.append('svg:defs').append('svg:marker')
                //                .attr('id', 'end-arrow')
                //                .attr('viewBox', '0 -5 10 10')
                //                .attr('refX', 6)
                //                .attr('markerWidth', 3)
                //                .attr('markerHeight', 3)
                //                .attr('orient', 'auto')
                //                .append('svg:path')
                //                .attr('d', 'M0,-5L10,0L0,5')
                //                .attr('fill', '#000');
                //
                //            svg.append('svg:defs').append('svg:marker')
                //                .attr('id', 'start-arrow')
                //                .attr('viewBox', '0 -5 10 10')
                //                .attr('refX', 4)
                //                .attr('markerWidth', 3)
                //                .attr('markerHeight', 3)
                //                .attr('orient', 'auto')
                //                .append('svg:path')
                //                .attr('d', 'M10,-5L0,0L10,5')
                //                .attr('fill', '#000');
                //
                //            // line displayed when dragging new nodes
                //            var drag_line = svg.append('svg:path')
                //                .attr('class', 'link dragline hidden')
                //                .attr('d', 'M0,0L0,0');
                //
                //            // handles to link and node element groups
                //            var path = svg.append('svg:g').selectAll('path'),
                //                circle = svg.append('svg:g').selectAll('g');

                svg //.on("mousemove", mousemove)
                .on("dblclick", addNode);



                /**
                 **/
                /*
            left side
            */
                var entities = graph.nodes;
                entities.sort(function(a, b) {
                    if (a.frequency > b.frequency) {
                        return 1;
                    }
                    if (a.frequency < b.frequency) {
                        return -1;
                    }
                    return 0;
                }).reverse();

                //            var barWidth = 150,
                var barHeight = 20;

                var x = d3.scale.linear()
                    .domain([0, d3.max(entities, function(d) {
                        return d.frequency
                    })])
                    .range([10, 150]);

                var chart = d3.select(".chart");

                var bar = chart.selectAll("g")
                    .data(entities)
                    .enter().append("g")
                    .attr("transform", function(d, i) {
                        return "translate(0," + i * barHeight + ")";
                    });

                /*
            TODO truncate with tooltip names longer than 100px
            */
                var namewidth = 150;
                bar.append("text")
                //.attr("x", namewidth)
                .attr("title", function(d) { //this doesn't work, come back and fix it
                    return d.name
                })
                    .text(function(d) {
                        return d.name
                    })
                    .attr("dy", ".75em");

                bar.append("rect")
                    .attr("fill", function(d) {
                        return color(d);
                    })
                    .attr("x", function(d) {
                        return namewidth + 150 - x(d.frequency)
                    })
                    .attr("width", function(d) {
                        return x(d.frequency);
                    })
                    .attr("height", barHeight - 1);

                bar.append("text")
                    .attr("class", "num")
                    .attr("x", function(d) {
                        return namewidth + 150 - 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("dy", ".35em")
                    .text(function(d) {
                        return d.frequency;
                    });

            });

        }
        
        loadGraph();
    </script>

