.Organization {
  background-color: #bdbdbd;
}
.Person {
  background-color: #9ecae1;
}
.Other {
  background-color: #ffeda0;
}
.Location {
  background-color: #a1d99b;
}

.search {
  background-color: yellow;
}
